{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div id="page-content">
<!--Page Title-->
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper">
            <h1 class="page-width">Create an Account</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
            <div class="mb-4">

                {{ form_start(registrationForm) }}
                <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            {{ form_row(registrationForm.UserName,{'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            {{ form_row(registrationForm.email,{'attr': {'placeholder': 'Adresse email'}}) }}
                        </div>
                    </div>
                     <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            {{ form_row(registrationForm.roles) }}
                        </div>
                    </div>
                    
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            {{ form_row(registrationForm.plainPassword,  {'attr': {'placeholder': 'Mot de passe'}},{
                            label: 'Password'
                            }) }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            {{ form_row(registrationForm.agreeTerms) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" class="btn">Register</button>
                        </div>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}