 
  {% extends 'base.html.twig' %}     
{% block title %}



{% endblock %}

{% block body %}
        
        
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Home slider-->
    	<div class="slideshow slideshow-wrapper pb-section">
        	<div class="home-slideshow">
            	<div class="slide">
                	<div class="blur-up lazyload">
                        <img class="blur-up lazyload" data-src="{{asset('asset/images/slideshow-banners/home11-grid-banner1.jpg')}}" src="{{asset('asset/images/slideshow-banners/home11-grid-banner1.jpg')}}" alt="Shop Our New Collection" title="Shop Our New Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic middle">
                            <div class="slideshow__text-content middle">
                            	<div class="container">
                                    <div class="wrap-caption right">
                                        <h2 class="h1 mega-title slideshow__title">Our New Collection</h2>
                                        <span class="mega-subtitle slideshow__subtitle">Save up to 50% Off</span>
                                        <span class="btn">Shop now</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                	<div class="blur-up lazyload">
                        <img class="blur-up lazyload" data-src="{{asset('asset/images/slideshow-banners/home2-default-banner1.jpg')}}" src="assets/images/slideshow-banners/ome2-default-banner1.jpg'" alt="Summer Bikini Collection" title="Summer Bikini Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic middle">
                            <div class="slideshow__text-content middle">
                            	<div class="container">
                                    <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title">Fashion &amp; Show</h2>
                                        <span class="mega-subtitle slideshow__subtitle">A World Fashion and Trendy Fashion Clother's</span>
                                        <span class="btn">Shop now</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Home slider-->
        <div class="section">
      
        	<div class="container">
             
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2">Weekly Bestseller</h2>
                            <p>Our most popular products based on sales</p>
                        </div>
                       
						<div class="productSlider grid-products">
                            {% for p in produits|slice(0,6)%}
                        
                            <div class="col-12 item">
                            
                                <!-- start product image -->
                                <div class="product-image">
                                    <!-- start product image -->
                                    <a href="#" class="grid-view-item__link">
                                        <!-- image -->
                                        <img class="primary blur-up lazyload" src=/uploads/images/{{ p.Image}} alt="image" title="product">
                                         <img class="hover blur-up lazyload"  src= /uploads/images/{{ p.Image}} alt="image" title="product">
                                        <!-- End hover image -->
                                        <!-- Variant Image-->
                                        <img class="grid-view-item__image hover variantImg" src=/uploads/images/{{ p.Image}} alt="image" title="product">
                                        <!-- Variant Image-->
                                       
                                        <!-- product label -->
                                        <div class="product-labels rounded"><span class="lbl on-sale">Sale</span> <span class="lbl pr-label1">new</span></div>
                                        <!-- End product label -->
                                    </a>
                                    <!-- end product image -->

                                    <!-- countdown start -->
                                    <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                                    <!-- countdown end -->

                                    <!-- Start product button -->
                                    <form class="variants add" action="#" onclick="window.location.href='cart.html'"method="post">
                                        <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                                    </form>
                                    <div class="button-set">
                                        <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                            <i class="icon anm anm-search-plus-r"></i>
                                        </a>
                                        <div class="wishlist-btn">
                                            <a class="wishlist add-to-wishlist" href="wishlist.html">
                                                <i class="icon anm anm-heart-l"></i>
                                            </a>
                                        </div>
                                        <div class="compare-btn">
                                            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                                <i class="icon anm anm-random-r"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- end product button -->
                                </div>
                                <!-- end product image -->
                                <!--start product details -->
                                <div class="product-details text-center">
                                    <!-- product name -->
                                    <div class="product-name">
                                        <a href="product-layout-1.html">{{ p.NOM }}</a>
                                    </div>
                                    <!-- End product name -->
                                    <!-- product price -->
                                    <div class="product-price">
                                       <span class="old-price">$500</span>
                                        <span class="price">${{ p.Prix}}</span>
                                    </div>
                                    <!-- End product price -->
                                    <!-- Color Variant -->
                                    <!--   multiple image color a faire -->
                                    <ul class="swatches">
                                        <li class="swatch small rounded navy" rel="{{asset('asset/images/product-images/product-image-stw1.jpg')}}"></li>
                                        <li class="swatch small rounded green" rel="{{asset('asset/images/product-images/product-image-stw1-1.jpg')}}"></li>
                                        <li class="swatch small rounded gray" rel="{{asset('asset/assets/images/product-images/product-image-stw1-2.jpg')}}"></li>
                                        <li class="swatch small rounded aqua" rel="{{asset('asset/images/product-images/product-image-stw1-3.jpg')}}"></li>
                                        <li class="swatch small rounded orange" rel="{{asset('asset/images/product-images/product-image-stw1-4.jpg')}}"></li>
                                    </ul>
                                    <!-- End Variant -->
                                </div>
                                <!-- End product details -->
                              
                            </div>
                                {% endfor %} 
                        
                        </div>
                             
                        
                    </div>
            	</div>   
                 
            </div>
           
        </div>
      
      







        <!--Parallax Section-->
        <div class="section">
            <div class="hero hero--large hero__overlay bg-size" >
            	<img class="bg-img" src="{{asset('asset/images/parallax-banners/parallax-banner.jpg')}}" alt="" style="display: none;"/>
                <div class="hero__inner">
                    <div class="container">
                        <div class="wrap-text left text-small font-bold">
                            <h2 class="h2 mega-title">Belle <br> The best choice for your store</h2>
                            <div class="rte-setting mega-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
                            <a href="#" class="btn">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Parallax Section-->
        <!--New Arrivals-->
        {{ include('index/homeArrivals.html.twig') }}
        	
        <!--End Featured Product-->
        
        <!--Logo Slider-->
      
       {{ include('index/homeLogo.html.twig') }}
        <!--End Logo Slider-->
    </div>
    <!--End Body Content-->
    
    <!--Footer-->

    <!--End Footer-->
    
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
    
   
    <!-- Including Jquery -->
     <script src="{{asset('asset/js/vendor/jquery-3.3.1.min.js')}}"></script>
     <script src="{{asset('asset/js/vendor/modernizr-3.6.0.min.js')}}"></script>
     <script src="{{asset('asset/js/vendor/jquery.cookie.js')}}"></script>
     <script src="{{asset('asset/js/vendor/wow.min.js')}}"></script>
     <!-- Including Javascript -->
     <script src="{{asset('asset/js/bootstrap.min.js')}}"></script>
     <script src="{{asset('asset/js/plugins.js')}}"></script>
     <script src="{{asset('asset/js/popper.min.js')}}"></script>
     <script src="{{asset('asset/js/lazysizes.js')}}"></script>
     <script src="{{asset('asset/js/main.js')}}"></script>
     <!--For Newsletter Popup-->
     <script>
		jQuery(document).ready(function(){  
		  jQuery('.closepopup').on('click', function () {
			  jQuery('#popup-container').fadeOut();
			  jQuery('#modalOverly').fadeOut();
		  });
		  
		  var visits = jQuery.cookie('visits') || 0;
		  visits++;
		  jQuery.cookie('visits', visits, { expires: 1, path: '/' });
		  console.debug(jQuery.cookie('visits')); 
		  if ( jQuery.cookie('visits') > 1 ) {
			jQuery('#modalOverly').hide();
			jQuery('#popup-container').hide();
		  } else {
			  var pageHeight = jQuery(document).height();
			  jQuery('<div id="modalOverly"></div>').insertBefore('body');
			  jQuery('#modalOverly').css("height", pageHeight);
			  jQuery('#popup-container').show();
		  }
		  if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide(); jQuery('#active-popup').hide(); }
		}); 
		
		jQuery(document).mouseup(function(e){
		  var container = jQuery('#popup-container');
		  if( !container.is(e.target)&& container.has(e.target).length === 0)
		  {
			container.fadeOut();
			jQuery('#modalOverly').fadeIn(200);
			jQuery('#modalOverly').hide();
		  }
		});
		
		/*--------------------------------------
			Promotion / Notification Cookie Bar 
		  -------------------------------------- */
		  if(Cookies.get('promotion') != 'true') {   
			 $(".notification-bar").show();         
		  }
		  $(".close-announcement").on('click',function() {
			$(".notification-bar").slideUp();  
			Cookies.set('promotion', 'true', { expires: 1});  
			return false;
		  });
	</script>
    <!--End For Newsletter Popup-->
</div>

        {% endblock %}