                                
{% block body %}
<div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
<hr>
    <div class="productList product-load-more">
       <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
        <div class="toolbar">
            <div class="filters-toolbar-wrapper">
                <div class="row">
                    <div class="col-4 col-md-4 col-lg-4 filters-toolbar__item collection-view-as d-flex justify-content-start align-items-center">
                                    	<a href="shop-left-sidebar.html" title="Grid View" class="change-view change-view--active">
                                        	<img src="assets/images/grid.jpg" alt="Grid" />
                                        </a>
                                        
                    </div>
                    <div class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                                    
                    </div>
                    <div class="col-4 col-md-4 col-lg-4 text-right">
                        <div class="filters-toolbar__item">
                                <label for="SortBy" class="hidden">Sort</label>
                                <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort">
                                                <option value="title-ascending" selected="selected">Sort</option>
                                                <option>Best Selling</option>
                                                <option>Alphabetically, A-Z</option>
                                                <option>Alphabetically, Z-A</option>
                                                <option>Price, low to high</option>
                                                <option>Price, high to low</option>
                                                <option>Date, new to old</option>
                                                <option>Date, old to new</option>
                                </select>
                                <input class="collection-header__default-sort" type="hidden" value="manual">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="grid-products grid--view-items">
        <div class="row">
       
                     
                 {% for p in catalogu %}
                      
                  

                     <div class="col-6 col-sm-6 col-md-4 col-lg-3 item">
                        <!-- start product image -->
                            
                    
                        <div class="product-image" >
                            <!-- start product image -->
                            <a href="product-layout-1.html" class="grid-view-item__link">
                                <!-- image -->
                                <img class="primary blur-up lazyload" src=/uploads/images/{{ p.image}} style="height : 300px;" alt="image" title="product">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="hover blur-up lazyload" src=/uploads/images/{{ p.Image}} style="height : 300px;"  alt="image" title="product">
                                <!-- End hover image -->
                                <!-- Variant Image-->
                                
                                <!-- Variant Image-->
                                <!-- product label -->
                                 {% if p.new == true %}
                                <div class="product-labels rectangular">
                                <span class="lbl on-sale">-16%</span> 
                                  <span class="lbl pr-label1"> new </span></div>{% endif %}
                                   
                                        <!-- End product label -->
                            </a>
                            <!-- end product image -->
                            
                            <!-- countdown start -->
                            <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                            <!-- countdown end -->

                            <!-- Start product button -->
                            <form class="variants add" action="#" onclick="window.location.href='{{path("panier_add",{id: p.id})}}'"method="post">
                                <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                            </form>
                            <div class="button-set">
                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <div class="wishlist-btn">
                                    <a class="wishlist add-to-wishlist" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end product button -->
                        </div>
                        <!-- end product image -->
                        <!--start product details -->
                        <div class="product-details text-center">
                            <!-- product name -->
                            <div class="product-name">
                                <a href="product-layout-1.html">{{ p.NOM }}</a>
                            </div>
                            <!-- End product name -->
                            <!-- product price -->
                            <div class="product-price">
                                <span class="old-price">$500.00</span>
                                <span class="price">${{ p.Prix}}</span>
                            </div>
                            <!-- End product price -->
                            <!-- Color Variant -->
                             <div class="product-review">
                                        <i class="font-13 fa fa-star"></i>
                                        <i class="font-13 fa fa-star"></i>
                                        <i class="font-13 fa fa-star"></i>
                                        <i class="font-13 fa fa-star-o"></i>
                                        <i class="font-13 fa fa-star-o"></i>
                            </div>
                                   
                            <!-- End Variant -->
                        </div>
                        <!-- End product details -->
                          
                    </div>
                         
                     
                      

                       
                          {% endfor %} 
                    </div>
                    
                </div>
         </div> 
    </div>
     <!-- affiche plus de produits -->
    
</div>


{% endblock %}